<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

  <title>Login</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body style="padding-top: 10%">
<div class="container-fluid text-center pt-10">
  <div>
    <img class="d-block mx-auto mb-4 mt-20" src="https://seeklogo.com/images/S/spring-logo-9A2BC78AAF-seeklogo.com.png" alt="" width="80" height="80">
  </div>
  <form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto;">

    <div class="border border-secondary p-3 rounded">
      <h1 class="h5 fw-bold">Przeglądarka informacji o ukraińskich uczniach</h1>
      <div th:if="${param.error}" class="alert alert-error text-danger fw-bold">
        Niepoprawne dane do logowania
      </div>
      <p>
        <input type="username" name="username" class="form-control" placeholder="Username" required autofocus/>
      </p>
      <p>
        <input type="password" name="password" class="form-control" placeholder="Password" required />
      </p>
      <p>
        <input type="submit" value="Zaloguj" class="btn btn-primary" />
      </p>
    </div>
  </form>
</div>
</body>
</html>